.card{
     position: absolute;
    display: flex ;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 20%;
    aspect-ratio: 1/1;
     min-width: 10%;
     max-width: 30%;
  width: 15%;
 border: 2px solid black;
  
}

.section1{
  position: relative;
 width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    
 

    flex-wrap:wrap;
}
.navigation{
   position: sticky;
     top: 0;
     left: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   min-width: 3%;
   width: auto;
   max-width: 30%;
   color:white;
   z-index: 100;
transition: all 1s ease-in;

    background-color: rgb(0, 35, 235);
}
li{
    width: 100%;
    list-style-type: none;
    font-size: 2rem;
    padding: 0;
    margin:0;
}
#changeColor{
  display: none;
   background-color: transparent;
   border: none;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;

}
.div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:3rem;
}
.tasks{
 position: relative;
    display: flex;
    gap: 4rem;
    width: 70%;
justify-content: center;
align-items: center;
flex-wrap: wrap;
    height: auto;
}
.button{
  
  background: none;
  border: none;
 font-size: 1.2rem;
  transition: all ease 1s;

}

.button0{
  display: none;
  background: none;
  border: none;
 font-size: 1.2rem;
  transition: all ease 1s;

}
.none{
    display: none;
     transition: all ease 1s;
}
.visible{
    display: block;
    transition: all ease 1s;
}
.palette{
  display: flex;
  justify-content: center;
 background-color: transparent;
 align-items: center;
  width: auto;
}