.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(38, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white
}
.Link{
    color:rgb(255, 255, 255);
}
.Link2{
    color:rgb(0, 119, 255);
}
.layoult{
    width: 100%;
    min-height: 100vh;
 height: auto;
  background: linear-gradient(to right, #0077ff, #ffffff);


}
.button{
  color:white;
  position: relative;
 font-size: 1.2rem;

  transition: all ease 1s;

}
.button::after{
  content: '';
  position: absolute;
  top:100%;
  left: 0;
  width: 0%;
  height: 9%;
  color:white;
background-color: aquamarine;

 font-size: 1.2rem;
  transition: all ease 1s;

}
.button:hover::after{
  content: '';
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  height: 9%;
  color:white;
background-color: aquamarine;

 font-size: 1.2rem;
  transition: all ease 1s;

}

.button::before{
  content: '';
  position: absolute;
  top:0;
  left: 100%;
  width: 0%;
  height: 9%;
  color:white;
background-color: aquamarine;

 font-size: 1.2rem;
  transition: all ease 1s;

}
.button:hover::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 9%;
  color:white;
background-color: aquamarine;

 font-size: 1.2rem;
  transition: all ease 1s;

}

.button0{
  display: none;
  background: none;
  border: none;
 font-size: 1.2rem;
  transition: all ease 1s;

}
.none{
    display: none;
     transition: all ease 1s;
}
.visible{
    display: block;
    transition: all ease 1s;
}
span::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0%;
  width: 2px;
  height: 100%;
  background-color: aqua;
    transition: all ease 1s;
}
span::after{
  position: absolute;
  content: '';
  top: 0;
  left: 100%;
  width: 2px;
  height: 100%;
  background-color: aqua;
    transition: all ease 1s;
}
span:hover::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0%;
  width: 2px;
  height: 100%;
  background-color: aqua;
    transition: all ease 1s;
}
span:hover::after{
  position: absolute;
  content: '';
  top: 0;
  left: 100%;
  width: 2px;
  height: 100%;
  background-color: aqua;
    transition: all ease 1s;
}
